<% if @church %>

  <section class="wrapper__section">

    <div class="wrapper__section__body">

      <section class="churchPrimer">

        <div class="churchPrimer__img">

        </div>

        <h2 class="churchPrimer__title"><%= @church.church_name %></h2>
        <% if @church.city.present? %>
          <p><%= @church.city %></p>
        <% end %>
        
        <% if !@church.verified %>
          <div class="message message--alert">
            <p class="message__headline"><%= t('gateway.unverified_msg.headline', church_name: @church.church_name) %></p>
            <p><%= t('gateway.unverified_msg.description') %></p>
          </div>
        <% end %>

        <ul class="churchPrimer__details">
          <% if @church.url.present? %>
            <li><%= @church.url %></li>
          <% end %>

          <% if @church.email.present? %>
            <li><%= @church.email %></li>
          <% end %>

          <% if @church.phone.present? %>
            <li><%= @church.phone %></li>
          <% end %>

          
        </ul>

        <%= link_to('Update church details', edit_church_path(@church), class: "btn btn--textonly") %>
      </section>
    </div>
  </section>

  <section class="wrapper__section guideOverview">
    <h2>Guides</h2>

    <% if @guides.present? %>
      <ul>
      <% for guide in @guides do %>
        <li>
          <%= link_to(guide) do %>
            <h3><%= guide.guide_name %></h3>
            <p><%= guide.teaser %></p>
            <p>Status: <%= guide.status %></p>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
    <p>
      <%= link_to('Create new guide', new_guide_path, class: 'btn') %>
    </p>
  </section>

<% end %>
