<div class="landing">
  <section class="landing__signin" id="signin">
    <div class="landing__innertube">

      <img src="<%= asset_path('one21logo.svg') %>" alt="One21 Logo" class="logo-img" />

      <h2>Resend unlock instructions</h2>

      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions">
          <%= f.submit "Resend unlock instructions" %>
        </div>
      <% end %>

      <!--<%= render "devise/shared/links" %>-->
      
    </div>
  </section>
</div>
