<%= form_for(@church,  html: { class: 'wrapper__section' }) do |f| %>

  <header class="wrapper__section__header">
    <div class="wrapper__section__header__content">
      <% if @church.id %>
        <h2>Edit Church</h2>
        <p><%= @church.church_name %></p>
      <% else %>
        <h2>Create Church</h2>
      <% end %>
    </div>
  </header>

  <div class="wrapper__body">

    <%= render('shared/form_errors', m: @church) %>

    <div class="form__field">
      <!-- TODO: Add in checking on church name -->
      <%= f.text_field :church_name, class: 'form__input' %>
      <%= f.label :church_name, class: 'form__label' %>
    </div>

    <div class="form__field">
      <%= f.email_field :email, class: 'form__input' %>
      <%= f.label :email, class: 'form__label' %>
    </div>

    <div class="form__field">
      <%= f.text_field :phone, class: 'form__input' %>
      <%= f.label :phone, class: 'form__label' %>
    </div>

    <div class="form__field">
      <%= f.text_field :url, class: 'form__input' %>
      <%= f.label :url, class: 'form__label' %>
    </div>

    <div class="form__field">
      <%= f.text_field :city, class: 'form__input' %>
      <%= f.label :city, class: 'form__label' %>
    </div>

    <%# Hacky: Can't upload church banner images and link with a church until the church exists %>
    <% if @current_user.church %>
      <%= f.hidden_field :graphics_id %>
      <div
        class="js-imageUploader"
        data-inputId="church_graphics_id"
        data-fieldLabel="Lead image"
        data-churchGraphicEndpoint="/graphics/<%= @current_user.church.slug %>"
        data-previewURL="<%= @church.graphic.try(:graphic_960).try('remote_url') %>">
      </div>
    <% end %>

    <div class="form__field">
      <span class="form__input">
        <%= image_tag(@church.church_logo_600.try('remote_url'), class: 'form__previewimage') if @church.church_logo_600 %>
        <%= f.file_field :church_logo %>
      </span>
      <%= f.label :church_logo, 'Church Logo', class: 'form__label' %>
    </div>

    <div class="form__field">
      <span class="form__input">
        <%= image_tag(@church.church_logo_sq_250.try('remote_url'), class: 'form__previewimage') if @church.church_logo_sq_250 %>
        <%= f.file_field :church_logo_sq %>
      </span>
      <%= f.label :church_logo_sq, 'Square Church Logo (Optional)', class: 'form__label' %>
    </div>

    <!-- TODO: include city here -->

    <%= f.submit 'Save', class: 'btn btn--primary' %>

  </div>

<% end %>
