<% if record.kind_of?(Array)
  status = record.last.status
else
  status = record.status
end %>

<% klass = "#{klass} stateSwitcher js-stateSwitcher"%>

<div class="<%= klass %>">
  <button class="stateSwitcher__current"><%= status %></button>
  <div class="stateSwitcher__actions">
    <%= status_change_button('Unpublish', record, :draft, class: "") if status != "draft" %>
    <%= status_change_button('Publish', record, :published, class: "") if status != "published" %>
    <%= status_change_button('Delete', record, :deleted, class: "") if status != "deleted" %>
  </div>
</div>
