<%= form_with( model: [@guide, @study], local: true, class: 'form') do |f| %>

  <%= render('shared/form_errors', m: @study) %>

  <section class="form__section">
    <div class="form__field">
      <%= f.text_field :study_name, class: 'form__input' %>
      <%= f.label :study_name, class: 'form__label' %>
    </div>

    <div class="form__field">
      <%= f.text_area :description, class: 'form__input' %>
      <%= f.label :description, class: 'form__label' %>
    </div>

    <div class="form__field">
      <%= f.text_field :recording_url, class: 'form__input' %>
      <%= f.label :recording_url, class: 'form__label' %>
    </div>

    <div class="form__field">
      <%= f.text_field :website_url, class: 'form__input' %>
      <%= f.label :website_url, class: 'form__label' %>
    </div>

    <p>👇 replace me with clever bit of react…</p>
    <div class="form__field">
      <%= f.text_field :passage_ref, class: 'form__input' %>
      <%= f.label :passage_ref, class: 'form__label' %>
    </div>
  </section>
  
  <section class="form__section">
    <div class="form__field">
      <%= f.text_area :questions, class: 'form__input' %>
      <%= f.label :questions, class: 'form__label' %>
    </div>
  </section>

  <%= f.submit 'Save', class: 'btn btn--primary' %>


<% end %>
