<%= form_for(@guide, html: { class: "form wrapper__section" }) do |f| %>

  <header class="wrapper__section__header">
    <div class="wrapper__section__header__content">
      <h2>Edit Guide</h2>
    </div>
  </header>

  <div class="wrapper__body">
    <%= render('shared/form_errors', m: @guide) %>

    <%= f.fields_for :church_guides do |cg| %>
      <%= cg.hidden_field :church_id, value: current_user.churches_id %>
      <%= cg.hidden_field :owner, value: true %>
    <% end %>

    <div class="form__field">
      <%= f.text_field :guide_name, class: 'form__input' %>
      <%= f.label :guide_name, class: 'form__label' %>
    </div>

    <div class="form__field">
      <%= f.text_area :teaser, class: 'form__input js-expandableTextArea' %>
      <%= f.label :teaser, class: 'form__label' %>
    </div>

    <div class="form__field">
      <%= f.text_area :description, class: 'form__input js-expandableTextArea' %>
      <%= f.label :description, class: 'form__label' %>
    </div>

    <div class="form__field">
      <%= f.text_field :copyright, class: 'form__input' %>
      <%= f.label :copyright, class: 'form__label' %>
    </div>

    <%= f.hidden_field :graphics_id %>
    <div
      class="js-imageUploader"
      data-inputId="guide_graphics_id"
      data-fieldLabel="Lead image"
      data-churchGraphicEndpoint="/graphics/<%= @current_user.church.slug %>"
      data-previewURL="<%= @guide.graphic.try(:graphic_960).try('remote_url') %>">
    </div>

    <div class="form__field">
      <span class="form__input form__input--inlineRadio">
        <%= f.collection_radio_buttons(:sorting,
                                      Guide.sortings.keys.map { |w| [w.humanize, w] },
                                      :second,
                                      :first) do |b|
                                        b.label { b.radio_button + b.label }
                                      end
        %>
      </span>
      <%= f.label :sorting, class: 'form__label' %>
    </div>

    <% if @guide.slug != 'sermons' %>
      <div class="form__field">
        <span class="form__input form__input--inlineRadio">
          <label>
          <%= f.check_box(:highlight_first) %>
            Promote on the homepage
          </label>
        </span>
        <%= f.label :highlight_first, class: 'form__label' %>
      </div>
    <% end %>

    <%= f.submit 'Save', class: 'form__submit btn btn--primary' %>
    
  </div>
<% end %>
