<%= form_for(@guide, html: { class: "form wrapper__section" }) do |f| %>

  <%= render('shared/form_errors', m: @guide) %>

  <div class="form__field">
    <%= f.text_field :guide_name, class: 'form__input' %>
    <%= f.label :guide_name, class: 'form__label' %>
  </div>

  <div class="form__field">
    <%= f.text_area :teaser, class: 'form__input' %>
    <%= f.label :teaser, class: 'form__label' %>
  </div>

  <div class="form__field">
    <%= f.text_area :description, class: 'form__input' %>
    <%= f.label :description, class: 'form__label' %>
  </div>

  <div class="form__field">
    <%= f.text_field :copyright, class: 'form__input' %>
    <%= f.label :copyright, class: 'form__label' %>
  </div>

  <%= f.hidden_field :graphics_id %>
  <div
    class="js-imageUploader"
    data-inputId="guide_graphics_id"
    data-fieldLabel="Lead image"
    data-churchGraphicEndpoint="/graphics/<%= @current_user.church.slug %>"
    data-previewURL="<%= @guide.graphic.try(:graphic_960).try('remote_url') %>">
  </div>

  <div class="form__field">
    <span class="form__input">
      <%= f.collection_radio_buttons :sorting, Guide.sortings.keys.map { |w| [w.humanize, w] }, :second, :first %>
    </span>
    <%= f.label :sorting, class: 'form__label' %>
  </div>


  <%= f.submit 'Save', class: 'form__submit btn btn--primary' %>

<% end %>
