
<% if @guide.graphic %>
  <%= image_tag @guide.graphic.try(:graphic_640).try(:remote_url) %>
<% end %>
<h1><%= @guide.guide_name %></h1>

<%= render partial: "shared/state_switcher", locals: { record: @guide } %>

<p><%= @guide.teaser %>

<p>This is a guide produced by <%= @guide.churches.first.church_name %></p>

<%= link_to("Edit " + @guide.guide_name, edit_guide_path(@guide), class: 'btn') %>

<% if @studies.present? %>
  <ul class="m-reorderable js-reorderable">
    <% for study in @studies do %>
      <li class="m-reorderable__item">
        <%= link_to(study.study_name, edit_guide_study_path(@guide, study)) %>
          <%= render partial: "shared/state_switcher", locals: { record: [@guide, study] } %>
      </li>
    <% end %>
  </ul>
<hr />
<% end %>

<div class="btn-block">
<%= link_to('Add new study', new_guide_study_path(@guide), class: 'btn btn--primary')%>
</div>

