<section class="wrapper__section">
  <% if @guide.graphic %>
    <div class="wrapper__section__leadGraphic">
      <%= image_tag @guide.graphic.try(:graphic_960).try(:remote_url) %>
    </div>
  <% end %>

  <header class="wrapper__section__header">
    <div class="wrapper__section__header__content">
      <h2><%= @guide.guide_name %></h2>
    </div>

    <div class="wrapper__section__header__action">
      <div
        class="js-stateSwitcher"
        data-model="guide"
        data-post-url="<%=guide_path(@guide) %>"
        data-current-state="<%= @guide.status %>">
        <%= @guide.status.humanize %>
      </div>
    </div>
  </header>


  <p><%= @guide.teaser %>

  <p>This is a guide produced by <%= @guide.churches.first.church_name %></p>

  <%= link_to(t('guides.edit', guide_name: @guide.guide_name), edit_guide_path(@guide), class: 'btn') %>

</section>

<section class="wrapper__section">
  <header class="wrapper__section__header">
    <div class="wrapper__section__header__content">
      <h2>Studies</h2>
    </div>

    <div class="wrapper__section__header__action">
      <%= link_to(t('studies.new'), new_guide_study_path(@guide), class: 'btn')%>
    </div>
  </header>

  <% if @studies.present? %>
  <ul class="sortableList js-sortable" data-push="<%= guide_path(@guide) %>/reorder">
    <% for study in @studies do %>
      <li class="sortable js-reorderable__item<% if @guide.sorting == 'ordered' %> sortable--active<% end %>" data-id="<%=study.id%>">
        
        <% if @guide.sorting == 'ordered' %>
          <div class="sortable__handle">|||</div> 
        <% end %>

        <div class="sortable__img">
          <%= responsive_thumbnail_tag(
            study.lead_image_thumbnails,
            sizes: ['75px'],
            alt: ""
          ) if study.lead_image %>
        </div>

        <div class="sortable__desc">
          <%= link_to(edit_guide_study_path(@guide, study)) do %>
            <h3><%= study.study_name %></h3>
            <% if study.passage_ref_json.present? %>
              <p><%= study.passage_str %></p>
            <% end %>

            <% if @guide.sorting != 'ordered' && study.published_at %>
              <p><%= study.state.humanize %>: <%= l study.published_at %></p>
            <% end %>

          <% end %>
        </div>
        <%#= markdown(study.study_start) %>

        <div
          class="sortable__actions js-stateSwitcher"
          data-model="study"
          data-schedulable="true"
          data-current-state="<%= study.state %>"
          data-post-url="<%=guide_study_path(@guide, study) %>">
          <%= study.state.humanize %>
        </div>
      </li>
    <% end %>
  </ul>
  <% else %>
  <div class="emptyState emptyState--study">
    <p><%= t('studies.empty') %></p>
    <%= link_to(t('studies.new'), new_guide_study_path(@guide), class: 'btn btn--primary')%>
  </div>
  <% end %>
</section>


