<!DOCTYPE html>
<html>
  <head>
    <title>One21 Admin</title>

    <%= stylesheet_link_tag "/assets/css/main.css" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <header class="header">
      <ul class="header__navigation">
        <li class="header__navigation__item"><%= link_to('Home', root_path) %></li>
        <li class="header__navigation__item"><%= link_to('Church', churches_path) %></li>
        <li class="header__navigation__item"><%= link_to('Guides', guides_path) %></li>
      </ul>
    </header>

    <%= yield %>

    <div id="root"></div>

    <% if notice %>
    <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
    <p class="alert"><%= alert %></p>
    <% end %>

    <footer>
      <% if user_signed_in? %>
        <%= button_to t('general.sign_out'), destroy_user_session_path, method: :delete %>
      <% end %>
    </footer>

  
  <% if user_signed_in? %>
    <%= javascript_include_tag "/assets/js/bundle.js" %>
  <% end %>

  </body>
</html>
