<!DOCTYPE html>
<html>
  <head>
    <title>One21 Admin</title>

    <% if user_signed_in? %>
      <%= stylesheet_link_tag "/assets/css/main.css" %>
    <% else %>
      <%#= stylesheet_link_tag "/assets/css/main.css" %>
    <% end%>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <header class="header">
      <div class="header__title">
        <%= link_to("One21 Guide Builder", root_path) %>
      </div>

      <% if user_signed_in? %>
      <ul class="header__navigation">
        <li class="header__navigation__item"><%= link_to(@current_user.church.church_name, root_path) %></li>
        <li class="header__navigation__item">Account
          <ul class="header__navigation__subnav">
            <li class="header__navigation__subnav__item header__navigation__subnav__item--name">
              <span><%= @current_user.first_name %></span>
              <span><%= @current_user.family_name %></span>
            </li>
            <li class="header__navigation__subnav__item"><%= link_to('My Account', edit_user_registration_path) %></li>
            <li class="header__navigation__subnav__item">
              <%= button_to t('general.sign_out'), destroy_user_session_path, method: :delete, class: "header__signout"%>
            </li>
          </ul>
        </li>
      </ul>
      <% end %>
    </header>

    <main class="wrapper">
      <%= yield %>
    </main>

    <% if notice || alert %>
    <div class="toast toast--bottom">
      <p><%= notice if notice %><%= alert if alert %></p>
    </div>
    <% end %>
  
  <% if user_signed_in? %>
    <%= javascript_include_tag "/assets/js/bundle.js" %>
  <% end %>

  </body>
</html>
